h2 {
  margin-bottom: 20px;
}
.Search-bar {
  > div {
    width: 100%
  }
}
.ms-Spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video {
  .top-bar {
    line-height: 48px;
    font-size: 22px;
    .title {
      margin-left: 10px
    }
  }
  video {
    width: 100%
  }
}