.Search-Results {
    a {
        text-decoration: none;
    }
    .search-result.text {
        width: 100%;
        transition: 0.3s;
        padding: 0px 10px;
        border-bottom: 1px solid #d2d2d2;
        &:hover {
            background: rgba(0,0,0,0.2)
        }
        .title {
            text-align: left;
            color: #000000 !important;
        }
        .duration {
            text-align: right;
            margin-top: auto;
            margin-bottom: 5px; 
            color: #000000 !important;
        }
    
    }
}

